@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

/*General style*/
ul{
    list-style: none;
}


/*Grid layout*/
.container{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #dfdfdf;
    height: 100vh;
    overflow: hidden;
}

.top-nav{
    background-color: rgb(104, 98, 98);
    grid-area: 1 /1 / 1 / span 3;
    display: flex;
}

#usr{
    margin-left: 5%;
    width:10%;
    height: 20%;
}

#usricon{
    width: 20%;
}

#panel{
    position: absolute;
    width: 10%;
    background-color: #dfdfdf;
    border: 1px solid gray;
}

#userpage{
    grid-area: 2/ 1 / 2 / span 3;
}

.middle-area{
    grid-area: 1/2 / 1/2;}

#signUpdiv{
    grid-area: 2/2 / 2/2;
}

#regform{
    grid-row: 2;
    grid-column: 4;
}

/*Style search form*/
#searchPage{
    grid-area: 1/3 / 1/span 3;
}

#searchForm{
    justify-content: center;
}

#welcomemsg{
    margin:5px 0 5px 0;
}

/*Style list of booked walker*/
#bookings{
    margin-top:5px;
    grid-area: 1/1 / 1/span 2;
    width: 40%;
}

#bookings h3{
 border-bottom: 2px solid black;
}

#bookings li{
    text-align: center;
    margin-top:5%;
    margin-left:10%;
    border:2px gray solid;
}

#booked{
    overflow: auto;
    height:500px;
}

/*Style signup Form*/
input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=email]:focus {
    border: 3px solid #555;
}

input[type=tel]:focus {
    border: 3px solid #555;
}

input[type=date]:focus {
    border: 3px solid #555;
}

input[type=search]:focus {
    border: 3px solid #555;
}

input[type=number]:focus {
    border: 3px solid #555;
}


button {
    background-color: #8588b8;
    padding:5px;
    border-radius: 10%;
}

#loggedin{
    text-align: right;
}

/*Style Error message*/
#error{
    color:#f55959;
    position: relative;
    left: 50px;
}

/*TO fix*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.hidebokpanel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

/*My canvas style*/

#myCanvas{
    border: 2px solid red;
}