* {
    margin:0;
    padding:0;
}


/*Grid layout*/
.container{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #dfdfdf;
}

.top-nav{
    background-color: rgb(104, 98, 98);
    grid-area: 1 /1 / 1 / span 3;
    display: flex;
}

#usr{
    width:10%;
    height: 20%;
}

#usricon{
    width: 20%;
}

#panel{
    position: absolute;
    width: 10%;
    background-color: #dfdfdf;
    border: 1px solid gray;
}

#userpage{
    grid-area: 2/ 1 / 2 / span 3;
}

#signUpPage{
    grid-area: 2/2 / 2/2;
}

#searchPage{
    grid-column: 3/3;
}

#bookform{
    grid-column: 2/2;
}

#bookings{
    grid-column: 1/1;
    width: 50%;
}

#bookings h3{
 border-bottom: 2px solid black;
}

ul{
    list-style: none;
}

#bookings li{
    text-align: center;
    margin-top:5%;
    margin-left:10%;
    border:2px gray solid;
}

/*Style Login Form*/
input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=email]:focus {
    border: 3px solid #555;
}

input[type=tel]:focus {
    border: 3px solid #555;
}

input[type=date]:focus {
    border: 3px solid #555;
}

button {
    background-color: #8a8dbb;
    padding:5px;
    border-radius: 10%;
}

#loggedin{
    text-align: right;
}

/*Style Error message*/
#error{
    color:#dfdfdf;
    position: relative;
    left: 50px;
}